
<div style="margin-right:5px;margin-top:5px;text-align: right;">
    <button class="btn btn-primary btn-lg" (click)="goToCart()">CART</button>&nbsp;
    <button class="btn btn-info btn-lg" (click)="openProfile()">Profile</button>&nbsp;
    <button class="btn btn-danger btn-lg" (click)="logout()">Logout</button>
</div>
<button style="margin-right:5px;margin-left:5px;" class="btn btn-secondary" (click)="Mens()">Mens</button>
<button style="margin-right:5px;margin-left:5px;" class="btn btn-secondary" (click)="Womens()">Womens</button>
<button style="margin-right:5px;margin-left:5px;" class="btn btn-secondary" (click)="Kids()">Kids</button>
<button style="margin-right:5px;margin-left:5px;" class="btn btn-secondary" (click)="Electronics()">Electronics</button>
<br><br>
<p class="filterHead">filter products by below features </p>
<div class="filters">
    <div style="margin-right: auto;">
    <input type="text" [(ngModel)]="pname" (ngModelChange)="filterByname()" placeholder="Product Name" style="border: 5px solid rgb(229, 162, 162); margin-right: 5rem;"><br><br>
    <ngx-slider (mouseup)="filterByPriceRange()" [(value)]="startingPrice" [(highValue)]="endingPrice" [options]="options" style="width:70%"></ngx-slider><br><br>
    </div>
</div>
<div class="container">
        <div class="row">
            <div *ngFor="let product of products;" class="col-md-3">
                <div class="card" style="text-align: center;">
                    <button (click)="openProduct(product)" style="border:0ch">
                    <img [src]="product.productImages" class="img-thumbnail card-img-top">
                    </button>
                    <div class="card-body shadow mb-1 bg-white rounded">
                        <h5 class="card-title">{{product.productTitle}}</h5>
                        <h5>{{product.productCost | currency : 'INR' }}</h5><br>    
                        <button class="btn btn-secondary" (click)="addToCart(product)">Add to Cart</button>
                    </div>
                </div>    
            </div>
        </div>
</div>
