.filterHead{
    text-align: center;
    font-family: cursive;
    font-size: large;
    font-weight: 1000;

}
.filters{
    text-align: center;
    padding: 15px;
    display: inline;
    font-family: cursive;
}
body{
  background-color:#00bcac;
  margin:0;
  padding:0;
}

.ctrl{
	width:100%;
  position:relative;
}

.nortification{
	display:block;
	font-size:14px;
	width:180px;
	padding:5px 0;
	position:absolute;
  top:0;
  left:50%;
  margin-left:-90px;
  box-sizing:border-box;
  border-radius:15px;
  background-color:#fff;
  color:#3a9ab9;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}
