.form{
    margin:auto; 
    text-align: center; 
    width:50%; 
    height:50%;
}
.body{
    background-image: url("../../assets/backgroundImg.jpg");
}input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}