<!--<h2>
  displaying object data: 
</h2><br>
<h3>
name :{{obj["name"]}}<br>
location :{{obj["location"]}}<br>
degree :{{obj["degree"]}}<br>
interest :{{obj["interest"]}}<br>
height :{{obj["height"]}}<br>
likedFood :{{obj["likedFood"]}}<br>
</h3>
<hr><hr><br>
<h1>images property binding</h1>
<div class="row">
  <div class="col-4">
    <img [src]="img1Url" height="250px" width="350px" />
  </div>
  <div class="col-4">
    <img [src]="img2Url" height="250px" width="350px"/>
  </div>
  <div class="col-4">
    <img [src]="img3Url" height="250px" width="350px"/>
  </div>
</div>
<hr><hr>
color: <input type="text" [(ngModel)]="strColor">&nbsp;
width: <input type="text" [(ngModel)]="strWidth">&nbsp;
height: <input type="text" [(ngModel)]="strHeight">&nbsp;
Font size: <input type="text" [(ngModel)]="strFontSize">&nbsp;
Font color:<input type="text" [(ngModel)]="strFontColor">
<br><br>
<div [ngStyle]="{'background-color': strColor, 'width':strWidth+'px' ,'height':strHeight+'px', 'font-size':strFontSize, 'font-color':strFontColor }">  
This is ngStyle div block with attribute directive
</div><br><hr><br>
<br><hr><br>
<div *ngIf="bLogin==true" style="width: 30%; height: 40%; border: 2px solid rgba(77, 77, 218, 0.397); text-align: center; margin:auto; ">
  <img src="./assets/login.jpg" width="40%" height="40%"/>
  <h4>User ID </h4><input type="text" #uid placeholder="Username" ><br>
  <h4>Password </h4><input type="password" #password ><br><br>
  <button class="btn btn-primary" (click)="login(uid.value,password.value)">Login</button><br><br>
  <h4> want to register click <button class="btn btn-info" (click)="changeToRegister()">here</button></h4>
</div>
<div *ngIf="bRegister==true" style="width: 30%; height: 40%;border: 2px solid rgba(255, 0, 0, 0.479);  text-align: center;  margin:auto;">
  <img src="./assets/register.jpg" width="40%" height="40%"/>
  <h4>User ID: </h4><input type="text" #uid placeholder="Username" ><br><br>
  <h4>Password: </h4><input type="password" #password ><br><br>
  <button class="btn btn-primary" (click)="register(uid.value,password.value)">Register</button><br><br>
  <h4> want to Login click <button class="btn btn-info" (click)="changeToLogin()" >here</button></h4> 
</div><br><hr><br>
<div *ngIf="displayUsersTable==true">
<table class="table table-hover table-dark" >
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users;let i=index" >
    <tr>
      <td>{{user.uid}}</td>
      <td>{{user.password}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(i)">Delete</button>
      &nbsp;<button class="btn btn-danger" (click)="editUser(i)">Edit</button></td>
    </tr>
  </tbody>
</table>
</div>
<div *ngIf="displayEditEmployeeForm==true" style="width: 30%; height: 40%;border: 2px solid rgba(255, 0, 0, 0.479);  text-align: center;  margin:auto;">
  <img src="./assets/editlogo.PNG" width="30%" height="30%"/><br><br>
  <h4>Employee ID&nbsp;</h4> <input type="text" [(ngModel)]="employees[this.currentEditIndex]['eid']" >
  <h4>Name&nbsp; </h4><input type="text" [(ngModel)]=" this.employees[this.currentEditIndex]['name']" >
  <h4>Location &nbsp; </h4><input type="text"  [(ngModel)]=" this.employees[this.currentEditIndex]['location']" >&nbsp;
  <h4>Department &nbsp; </h4><input type="text"  [(ngModel)]=" this.employees[this.currentEditIndex]['department']" >
  <h4>Designation &nbsp; </h4><input type="text"  [(ngModel)]=" this.employees[this.currentEditIndex]['designation']" ><br><br>
  <button class="btn btn-primary" (click)="updateEmployee()">Edit</button><br><br>
</div>
<div *ngIf="addEmployeeForm==true" style="width: 30%; height: 40%;border: 2px solid rgba(255, 0, 0, 0.479);  text-align: center;  margin:auto;">
  <img src="./assets/register.jpg" width="30%" height="30%"/>
  <h4>Employee ID&nbsp;</h4> <input type="text" #eid >
  <h4>Name&nbsp; </h4><input type="text" #name >
  <h4>Location &nbsp; </h4><input type="text" #location >&nbsp;
  <h4>Department &nbsp; </h4><input type="text" #department >
  <h4>Designation &nbsp; </h4><input type="text" #designation ><br><br>
  <button class="btn btn-primary" (click)="createEmployee(eid.value,name.value,location.value,department.value,designation.value)">Add</button><br><br>
</div>

<div *ngIf="displayEmployeesTable==true" >
  <button class="btn btn-secondary" (click)="addEmployee()">Add</button>
  <table class="table table-hover table-dark" >
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let employee of employees;let i=index" >
      <tr>
        <td>{{employee.eid}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.location}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.designation}}</td>
        <td><button class="btn btn-danger" (click)="deleteEmployee(i)">Delete</button>
        &nbsp;<button class="btn btn-danger" (click)="editEmployee(i)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<br><hr><br>-->
<nav class="navbar navbar-dark mb-5">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/product">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/employee">Employee</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<br><hr><br>
footer

