<h2>
  displaying object data: 
</h2><br>
<h3>
name :{{obj["name"]}}<br>
location :{{obj["location"]}}<br>
degree :{{obj["degree"]}}<br>
interest :{{obj["interest"]}}<br>
height :{{obj["height"]}}<br>
likedFood :{{obj["likedFood"]}}<br>
</h3><hr><hr><br>
<h1>images property binding</h1>
<div class="row">
  <div class="col-4">
    <img [src]="img1Url" height="250px" width="350px" />
  </div>
  <div class="col-4">
    <img [src]="img2Url" height="250px" width="350px"/>
  </div>
  <div class="col-4">
    <img [src]="img3Url" height="250px" width="350px"/>
  </div>
</div>
<hr><hr>
<input type="text" #pno placeholder="enter phone number" >
<button (click)="validate(pno.value)" class="btn btn-primary">Validate</button>
<hr><h1>Login </h1>
<input type="text" #uid placeholder="User ID"><br><br>
<input type="password" #pwd ><br><br>
<button class="btn btn-primary" (click)="validateLogin(uid.value,pwd.value)">Login</button><hr><hr>
