<div class="body">
    <div class="form">
            <img src="../../assets/login.jpg" class="img-fluid" width=30% height=30%>
            <form [formGroup]="loginForm">
                <h4>User ID </h4>
                <input type="text" formControlName="loginUserId">
                <div *ngIf="this.loginForm.get('loginUserId')?.invalid && (this.loginForm.get('loginUserId')?.dirty || this.loginForm.get('loginUserId')?.touched )">
                    <p style="color:red;font-size: small;" *ngIf="this.loginForm.get('loginUserId')?.errors?.['required']">
                    User ID is required 
                    </p>
                    <p style="color:red;font-size: small;" *ngIf="this.loginForm.get('loginUserId')?.errors?.['minlength']">
                    User ID should be atleast 3 characters.
                    </p>
                </div>    
                <h4>Password </h4>
                <input type="password" formControlName="loginPassword"><br><br>
                <div *ngIf="this.loginForm.get('loginPassword')?.invalid && (this.loginForm.get('loginPassword')?.dirty || this.loginForm.get('loginPassword')?.touched )">
                    <p style="color:red;font-size: small;" *ngIf="this.loginForm.get('loginPassword')?.errors?.['required']">
                   password is required 
                    </p>
                    <p style="color:red;font-size: small;" *ngIf="this.loginForm.get('loginPassword')?.errors?.['minlength']">
                       password should be atleast 3 characters.
                    </p>
                    <p style="color:red;font-size: small;" *ngIf="this.loginForm.get('loginPassword')?.errors?.['maxlength']">
                        password should be of atmost 8 characters.
                    </p>  
                </div>    
                <button type="button" class="btn btn-primary" (click)="loginUser()">LOGIN</button><br><br>
                <h4 style="color:aliceblue">Logging for first time then</h4><button class="btn btn-secondary" (click)="toRegister()">Register</button><hr>
            </form>        
        </div>
</div>


